{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-function-bind",
    [
      "component",
      [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]
    ],
    [
      "import",[
      {
        "libraryName": "@zz/lego"
      },{
        "libraryName": "@zz-common/zz-ui",
        "libraryDirectory": "lib",
        "style": true
      }]
    ]
  ],
  "comments": false
}
